/*banner*/
.banner,
.kn6cs,
.signup,
.route,
.reason {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner>.wrap {
    width: 100%;
}

.banner>.wrap>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#b2 {
    display: none;
}

@media (min-width: 48em) and (max-width: 64em) {
    .banner>.wrap {
        height: 555px;
    }

    .banner>.wrap>img {
        object-position: 13%;
    }
}

@media (max-width: 48em) {
    .banner>.wrap {
        height: unset;
    }

    #b2 {
        display: block;
        object-position: top;
    }

    #b1 {
        display: none;
    }
}

/*intro*/

.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-image: url(../photo/bg.png);
    background-size: cover;
    background-position: center;
}

.intro>.wrap {
    width: 80%;
}

.intro>.wrap>img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.intro-content {
    margin: 20px 0;
}

.intro-content h1 {
    font-weight: bold;
    margin: 20px 0;
    font-size: calc(1.5rem + 1vw);
}

.intro-content p {
    font-size: calc(0.7rem + 0.5vw);
    text-align: justify;
}

.intro-img>.img {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.intro-img>.img>div {
    background-color: black;
}

.intro-img>.img>img {
    width: 70%;
    height: auto;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 41px 89px 0px rgba(0, 0, 0, 0.10);
}

#intro-1 {
    animation: intro1 9s ease infinite;
}

#intro-2 {
    animation: intro2 9s ease infinite;
}

@keyframes intro1 {
    0% {
        transform: translate3d(-1%, 0px, 0px) rotate(-2deg);
    }

    20% {
        transform: translate3d(1.5%, 1.5%, 0px) rotate(-1deg);
    }

    40% {
        transform: translate3d(0.5%, 0.5%, 0px) rotate(-3deg);
    }

    60% {
        transform: translate3d(-1%, 1%, 0px) rotate(-4deg);
    }

    80% {
        transform: translate3d(0px, -1%, 0px) rotate(-3deg);
    }

    100% {
        transform: translate3d(-1%, 0px, 0px) rotate(-2deg);
    }
}

@keyframes intro2 {
    0% {
        transform: translate3d(-1%, 0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate3d(1.5%, 2%, 0px) rotate(2deg);
    }

    40% {
        transform: translate3d(0.5%, 1%, 0px) rotate(1deg);
    }

    60% {
        transform: translate3d(-1%, 2%, 0px) rotate(2deg);
    }

    80% {
        transform: translate3d(0px, 1%, 0px) rotate(3deg);
    }

    100% {
        transform: translate3d(-1%, 0px, 0px) rotate(0deg);
    }
}

@media (min-width: 48em) and (max-width: 64em) {
    .intro-img {
        height: 450px;
    }
}

@media (max-width: 48em) {
    .intro-img {
        height: 280px;
    }
}

@media (max-width: 36em) {
    .intro-img {
        height: 190px;
    }

    .intro-content h1 {
        font-size: calc(1.3rem);
    }
}

/* signal*/

.signal {
    width: 100%;
    height: 700px;
    background-image: url(../photo/bg.png);

}

.signal-bg {
    background-color: #1565c0;
    ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://shame-game.github.io/vamnaone/photo/pattern-lines.d6471bace81c3ada86db50ecb4e28f92-_1_.png);
    height: 300px;
}

.signal>.signal-bg>.wrap {
    width: 80%;
    display: flex;
    margin: auto;
}

.signal .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signal .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.signal .content h1 {
    text-align: center;
    font-size: calc(1.3rem + 0.5vw);
    font-weight: bold;
    width: 100%;
    margin-top: 30px;
}

.signal .content p {
    text-align: center;
    font-size: calc(0.5rem + 0.5vw);
    width: 90%;
    text-align: justify;
    margin: 10px 0 30px 0;
}

.signal .items img {
    width: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 41px 89px 0px rgba(0, 0, 0, 0.10);
}

.signal>.signal-bg>.title {
    width: 60%;
    margin: 30px 0 50px 0;
    margin: auto;
}

.signal>.signal-bg>.title>h1 {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    color: white;
    font-weight: bold;
    padding: 50px 0;
}

@media (min-width: 101.875em) {
    .signal {
        height: 900px;
    }
}


@media (min-width: 48em) and (max-width: 64em) {
    .signal {
        height: 2300px;
    }

    .signal .items img {
        width: 50%;
    }

    .signal .content h1 {
        font-size: calc(3.3rem + 0.5vw);
    }

    .signal .content p {
        font-size: calc(1.5rem + 0.5vw);
        width: 90%;
        text-align: justify;
        margin: 10px 0 30px 0;
    }
}

@media (max-width: 48em) {
    .signal {
        height: 2000px;
    }

    .signal .items img {
        width: 50%;
    }

    .signal .content h1 {
        font-size: calc(3.3rem + 0.5vw);
    }

    .signal .content p {
        font-size: calc(1.5rem + 0.5vw);
        width: 90%;
        text-align: justify;
        margin: 10px 0 30px 0;
    }

    .signal>.signal-bg>.title {
        width: 90%;
    }

    .signal>.signal-bg>.wrap {
        width: 90%;
    }
}

@media (max-width: 36.25em)and (max-width:34.4rem) {
    .signal {
        height: 1300px;
    }

    .signal>.signal-bg>.title>h1 {
        font-size: calc(1rem);
        padding: 20px 0;
    }

    .signal-bg {
        height: 80px;
    }

    .signal .content h1 {
        font-size: calc(1.3rem);
    }

    .signal .content p {
        font-size: calc(0.7rem + 0.5vw);
    }
}

@media (max-width: 34.5em) {
    .signal>.signal-bg>.title>h1 {
        font-size: calc(1rem);
        padding: 20px 0;
    }

    .signal-bg {
        height: 80px;
    }

    .signal .content h1 {
        font-size: calc(1.3rem);
    }

    .signal .content p {
        font-size: calc(0.7rem + 0.5vw);
    }

    .signal {
        height: 1200px;
    }
}

/* kn6cs */
.kn6cs {
    background-color: #1565c0;
    padding-bottom: 50px;
}

.kn6cs>.wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kn6cs h1 {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    margin: 40px 0;
    font-weight: bold;
    color: white;
}

.kn6cs p {
    text-align: center;
    font-size: calc(0.7rem + 0.5vw);
    width: 80%;
    margin: auto;
    color: white;
}

.kn6cs img {
    width: 70%;
    margin: auto;
}

@media (min-width: 48em) and (max-width: 64em) {
    .kn6cs>.wrap {
        width: 90%;
    }

    .kn6cs img {
        width: 90%;
    }
}

@media (max-width: 48em) {
    .kn6cs>.wrap {
        width: 100%;
    }

    .kn6cs img {
        width: 100%;
    }
}

@media (max-width: 36em) {
    .kn6cs h1 {
        width: 95%;
        margin: 20px auto;
        font-size: calc(1.3rem);
    }
}

/* signup */
.signup {
    background-image: url(../photo/bg.png);
}

.signup>.wrap {
    width: 80%;
    display: flex;
    margin: 30px 0;
}

.signup img {
    width: 100%;
}

.signup form h1 {
    color: white;
    text-align: center;
    font-size: calc(1rem + 1vw);
    margin-bottom: 20px;
}

.signup form {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #1565c0;
    padding: 1px;
    margin: auto;
    border-radius: 8px;
}

.signup input {
    margin: 10px 0;
    border-radius: 8px;
    outline: none;
    border: 0.5px solid rgb(90, 90, 90);
    padding: 5px 10px;
    width: 100%;
}

.requi {
    color: white;
    content: '';
}

.signup button {
    border: none;
    background-color: white;
    font-weight: bold;
    padding: 4px 0;
    width: 50%;
    margin: 20px auto 0 auto;
    border-radius: 8px;
    color: #1565c0;
    transition: all 0.3s;
}

.signup button:hover {
    transform: scale(1.05);
}

@media (min-width: 48em) and (max-width: 64em) {
    .signup>.wrap {
        width: 90%;
    }
}

@media (max-width: 48em) {
    .signup>.wrap {
        width: 90%;
    }
}

@media (max-width: 36em) {
    .signup>.wrap {
        width: 100%;
    }

    .kn6cs img {
        width: 100%;
    }

    .signup form {
        width: 90%;
    }
}

@media (max-width: 28em) {
    .signup form {
        width: 100%;
    }
}

/* router */
.route {
    display: flex;
    flex-direction: column;
}

.route>.title {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1565c0;
}

.route>.title>h1 {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    margin: 40px 0;
    font-weight: bold;
    color: white;
}

.route>.wrap {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.route>.wrap>.map>img {
    width: 100%;
    margin: 20px 0;
}

.route>.wrap>.map>h1 {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    margin: 40px 0;
    font-weight: bold;
}

.route>.wrap>.map>.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.route>.wrap>.map>.main>.btttt {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.route>.wrap>.map>.main>.btttt:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 9999;
}

.box {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    height: 900px;
    background-color: white;
    border-radius: 50px;
    z-index: 99999;
}

.boxx {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 30px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    color: rgb(248, 75, 75);
}

.scroll .img-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-sp {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clost {
    font-size: calc(1rem + 0.5vw);
    transition: all 0.3s ease-in-out;
}

.clost:hover {
    cursor: pointer;
    transform: scale(1.0.5);
}

@media (min-width: 48em) and (max-width: 64em) {
    .box {
        position: fixed;
        border-radius: 50px 50px 0 0;
        top: 10%;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        z-index: 99999;
    }
}

@media (max-width: 36em) {
    .route>.title>h1 {
        font-size: calc(1.3rem);
    }

    .route>.wrap>.map>h1 {
        font-size: calc(1.3rem);
    }

    .route>.wrap>.map>.main {
        width: 100%;
    }

    .route>.wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .box {
        position: fixed;
        border-radius: 50px 50px 0 0;
        top: 10%;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        z-index: 99999;
    }
}

/* reason */
.reason>.wrap {
    width: 80%;
}

.reason>.wrap>.title {
    width: 100%;
}

.reason>.wrap>.title h1 {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    font-weight: bold;
    background-color: #1565c0;
    padding: 20px 0;
    border-radius: 8px;
    color: white;
}

.reason>.wrap>.title h2 {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    font-weight: bold;
}

.reason>.wrap>.items {
    width: 80%;
    display: flex;
    margin: 50px auto;
}

.reason img {
    width: 90%;
    margin: auto;
}

.reason>.wrap>.items h1 {
    text-align: center;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: bold;
    text-align: start;
}

.reason>.wrap>.items p {
    text-align: center;
    font-size: calc(0.7rem + 0.3vw);
    text-align: justify;
    width: 80%;
}

@media (min-width: 48em) and (max-width: 64em) {
    .reason>.wrap {
        width: 100%;
    }

    .reason img {
        width: 100%;
        margin: 20px 0;
    }

    .reason>.wrap>.items p {
        width: 100%;
    }

    .reason .two {
        display: flex;
        flex-direction: column-reverse;

    }
}

@media (max-width: 48em) {
    .reason>.wrap {
        width: 100%;
    }

    .reason img {
        width: 100%;
        margin: 20px 0;
    }

    .reason>.wrap>.items p {
        width: 100%;
    }

    .reason .two {
        display: flex;
        flex-direction: column-reverse;

    }
}

@media (max-width: 36em) {
    .reason>.wrap {
        width: 100%;
    }

    .reason>.wrap>.title h1 {
        font-size: calc(1.3rem);
        border-radius: unset;
    }

    .reason>.wrap>.title h2 {
        font-size: calc(1.3rem);
    }

    .reason img {
        width: 100%;
        margin: 20px 0;
    }

    .reason>.wrap>.items p {
        width: 100%;
    }

    .reason .two {
        display: flex;
        flex-direction: column-reverse;

    }
}

/* bao */

.bao-text{
    width: 100%;
    display: flex;
    justify-content: start;
}
.bao-text h2{
    margin: 20px 0;
    color: #1565c0;
    font-size: calc(1rem + 1vw);
}

.bao {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.bao-wrap {
    width: 80%;
}

.bao h1 {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    margin: 40px 0;
    font-weight: bold;
    background-color: #1565c0;
    padding: 20px 0;
    border-radius: 8px;
    color: white;
}

.bao-sm .bao-img {
    width: 100%;
    height: 500px;
}

.bao-sm .bao-img a {
    width: 100%;
    justify-content: center;
    height: 100%;
    display: flex;
}

.bao-sm .bao-img a:hover {
    cursor: pointer;
}

.bao-sm .bao-img img {
    width: 80%;
    object-fit: cover;
    object-position: top;
}
.bao-lg .bao-img {
    width: 33%;
    height: 400px;
}

.bao-lg .bao-img a {
    width: 100%;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #1565c0;
}

.bao .items {
    display: flex;
    justify-content: space-between;
}

.bao-lg .bao-img a:hover {
    cursor: pointer;
}

.bao-card-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.bao-card-img img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(90%);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.bao-card-content {
    width: 90%;
    margin: 20px auto 0 auto;
}

.bao-card-content h2 {
    font-size: calc(0.7rem + 0.3vw);
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bao-card-content h3 {
    font-size: calc(0.7rem + 0.5vw);
    color: #1565c0;
}

.bao-card-content h4 {
    font-size: calc(0.7rem + 0.3vw);
    color: white;
    background-color: #1565c0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.bao-lg .bao-img a:hover>.bao-card-img img {
    filter: brightness(95%);
    transform: scale(1.05);
}

.carousel-control-prev-icon {
    background-image: url(https://scontent.fsgn2-9.fna.fbcdn.net/v/t1.15752-9/377228200_209510555510689_7996580028536405405_n.png?_nc_cat=103&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeHn4rFx5tIqFA-8aHwidXRq5m_wEtoO4Anmb_AS2g7gCTE_p5OYa5vORJUOexN0Yfnvy_BiA-AyiOO0i-Y4nTcZ&_nc_ohc=bkbWBEj5CD4AX9iPNFo&_nc_ht=scontent.fsgn2-9.fna&oh=03_AdQzrXFlM9xwCCXdUftdWcL8T6FiFYPQd0lR3wknO8ZThA&oe=657596C0) !important;
}

.carousel-control-next-icon {
    background-image: url(https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.15752-9/377122159_845564847063810_9168661690845029081_n.png?_nc_cat=104&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeEmcwAuPjBqnyUy2P9r92li13ql_PS0_srXeqX89LT-ysU8neAIUi5qBt5zmLWRGonEDXZPRsWpULRgxuJOQQmE&_nc_ohc=ocLhObsNmwsAX_LSvCH&_nc_ht=scontent.fsgn2-5.fna&oh=03_AdSWtMQNlQAyqXeRNd_TOdHWt8In8t6RqFvphH1ChMbXHg&oe=65758FE9);
}

.bao-sm {
    display: none;
}

.bao-lg {
    display: block;
}

@media (min-width: 64em) and (max-width: 97.1875em) {
    .bao-card-img {
        height: 220px;
    }
    .bao-lg .bao-img {
        height: 320px;
    }
}
@media (min-width: 48em) and (max-width: 64em) {
    .bao-wrap {
        width: 100%;
    }

    .carousel-inner {
        height: 500px;
    }
    .carousel-item{
        height: 100%;
    }
    .bao-sm .bao-img {
        width: 100%;
        height: 100%;
    }

    .bao-sm {
        display: block;
    }

    .bao-lg {
        display: none;
    }
    .bao-text{
        justify-content: center;
    }
}

@media (max-width: 48em) {
    .bao-wrap {
        width: 100%;
    }

    .bao-sm {
        display: block;
    }
    .bao-text{
        justify-content: center;
    }
    .bao-lg {
        display: none;
    }
    .carousel-inner {
        height: 500px;
    }
    .carousel-item{
        height: 100%;
    }
    .bao-sm .bao-img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 36em) {
    .bao-wrap {
        width: 100%;
    }

    .bao h1 {
        font-size: calc(1.3rem);
        border-radius: unset;
    }

    .carousel-inner {
        height: 500px;
    }
}
@media (max-width: 28em) {
    .bao-wrap {
        width: 100%;
    }

    .bao h1 {
        font-size: calc(1.3rem);
        border-radius: unset;
    }

    .carousel-inner {
        height: 300px;
    }
    .carousel-item{
        height: 100%;
    }
    .bao-sm .bao-img {
        width: 100%;
        height: 100%;
    }
}

/* footer */

.footer {
    width: 100%;
    background-color: #284f9e;
    padding: 25px 0;
}

.footer-wrap {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-logo-icon {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.footer-logo-icon i {
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1rem + 1vw);
    margin: 0 20px;
    transition: all 0.13s ease-in-out;
}

.footer-logo-icon i:hover {
    font-size: calc(1.2rem + 1vw);
    cursor: pointer;
}

.footer-lh {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-lh h2 {
    margin-top: 10px;
    color: white;
    font-size: calc(1rem + 0.3vw);
    font-family: 'Roboto', sans-serif;
}

.footer-ct h1 {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: calc(1.5rem + 0.3vw);
}

@media (max-width: 48em) {
    .footer-logo-icon i {
        font-size: calc(2rem + 1vw);
    }
}

/* dang ky */
.dangky {
    position: fixed;
    bottom: 20px;
    left: 45%;
    z-index: 999;
    animation: d 2s ease infinite;
}

.dangky a {
    padding: 10px 20px;
    font-size: calc(1rem + 0.5vw);
    background-color: #1565c0;
    border-radius: 8px;
    border: 1px solid white;
    color: white !important;
    transition: all 0.3s;
}

.dangky a:hover {
    cursor: pointer;
    font-size: calc(1.1rem + 0.5vw);
}

@keyframes d {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@media (max-width: 64rem) {
    .dangky {
        display: none;
    }
}