/* color */
:root {
    --color-text: #00a4e3;
    --color-main: #ea0c8b;
    --color-logo: #7c51a1;
    --color-text1: #83c8f9;
}

/* all */
a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

p,
h3,
h1,
ul {
    margin: 0;
}

html {
    font-size: 16px;

    font-style: normal;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif !important;
}

.vam_wrap {
    width: 90%;
    height: max-content;
    margin: auto;
}

.vam_wrap2 {
    width: 80%;
    height: max-content;
    margin: auto;
}

.posiab {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vam_title {
    font-size: 2.5em;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    background: -webkit-linear-gradient(300deg, var(--color-logo) 0%, var(--color-main) 25%, var(--color-logo) 50%, var(--color-main) 75%, var(--color-logo) 100%) 0% 0% / 400% text;
    animation: intro1412c1H1 18s linear infinite;
}

.vam_title1 {
    font-size: 54px;
    color: var(--color-text);
    font-weight: 600;
}

.vam_titleup1 {
    background-image: -webkit-linear-gradient(top, hsl(0deg 0% 100% / 62%), rgb(255 255 255 / 18%), hsl(0deg 0% 100% / 0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 68px;
    margin-bottom: -20px;
}

.vam_titleup2 {
    background-image: -webkit-linear-gradient(top, #2196f385, rgb(33 150 243 / 11%), hsl(0deg 0% 100% / 0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 68px;
    margin-bottom: -20px;
}

.vam_titlecon {
    font-size: 1.5em;
    font-weight: 400;
    text-align: justify;
}

.vam_content {
    font-size: 1.2em;
    font-weight: 400;
    text-align: justify;
}

.vam_button {
    outline: none;
    border: none;
    padding: 8px 20px;
    font-size: 1.1em;
    background: -webkit-linear-gradient(300deg, var(--color-logo) 0%, var(--color-main) 25%, var(--color-logo) 50%, var(--color-main) 75%, var(--color-logo) 100%) 0% 0% / 400%;
    animation: vam_ani 18s linear infinite;
    color: white;
    border-radius: 8px;
    transition: all .3s linear;
    cursor: pointer;
    text-transform: none;
    display: flex;
    align-items: center;
}

@keyframes vam_ani {
    0% {
        background-position: 0% center;
    }

    33% {
        background-position: 180% center;
    }

    66% {
        background-position: 0% center;
    }

    100% {
        background-position: 180% center;
    }
}

/* intro */

#intro {
    width: 100%;
    overflow: hidden;

}

#intro_background-wrap {
    width: 55%;
    margin-left: auto;
    position: absolute;
    right: 0;
}

#intro_background {
    width: 100%;
}

#intro_img {
    position: absolute;
    bottom: 3px;
    width: 60%;
    left: 60%;
    transform: translate(-50%);
}

@media (max-width:1326px) {
    #intro_background {
        width: 160%;
    }

    #intro_background-wrap {
        width: 50%;
    }

    #intro_img {
        left: 70%;
    }
}


@media (max-width:992px) {
    #intro_background-wrap {
        width: 30%;
    }

    #intro .vam_con {
        width: 100% !important;
    }

    #intro_img {
        left: 70%;
    }

    #intro .vam_wrap {
        height: 581px !important;
    }
}

@media (max-width:500px) {
    #intro_logo {
        width: 55% !important;
    }

}

@media (max-width:400px) {
    #intro .vam_wrap {
        height: 631px !important;
    }

}


/* --------------------- */
/* Header1412a1 Vamnaone */
/* --------------------- */
#header1412a1 {
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 5px rgba(42, 42, 42, 0.138);
    position: sticky;
    top: 0;
    z-index: 9999;
    color: var(--color-text);
}

.header1412a1 {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

.header1412a1-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.header1412a1-list>li {
    margin: 0 25px;
    font-size: 1.1em;
    cursor: pointer;
}

.header1412a1-list>li.acc {
    color: var(--color-main);
    font-weight: 500;
}

.header1412a1-list>li:hover {
    color: var(--color-main)
}

.header1412a1-logo {
    height: 50%;
    display: flex;
    align-items: center;
}

.header1412a1-logo>p {
    font-size: 1.7em;
    margin-left: 5px;
    color: var(--color-main);
    font-family: 'Rubik';
}

@media (max-width:992px) {

    .header1412a1-list {
        display: none;
    }

}

/* introd */

#introduce {
    width: 100%;
    overflow: hidden;
}

#introduce_background-wrap {
    width: 60%;
    position: absolute;
    left: 0;
    z-index: -1;
}

#introduce_background {
    width: 130%;
}

#introduce_img {
    width: 70%;
    aspect-ratio: 1/1;
}


@media (max-width:992px) {
    #introduce .vam_con {
        width: 54% !important;
        margin-right: 0 !important;
        justify-content: start !important;
        height: max-content !important;
    }
}

@media (max-width:682px) {
    #introduce_background-wrap {
        display: none;
    }

    #introduce .vam_con {
        width: 100% !important;
    }
}

/* object */
.object {
    flex: 1;
    height: 100%;
}

#object_top {
    padding-top: 50px;
    background-image: linear-gradient(90deg, var(--color-text), #a6d2ff);
}

.object_wrapimg {
    border: 3px solid white;
    box-shadow: rgba(255, 255, 255, 0.588) 0px 7px 29px 0px;
    margin: 16px;
    border-radius: 16px 16px 0 0;
    color: black;
    height: 100%;
    position: relative;
    border-bottom: none;
    margin-bottom: 0;
}

.object_wrapimg>img {
    aspect-ratio: 6/6;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.object_wrapcontent {
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 22px;
    border: 3px solid white;
    box-shadow: rgba(132, 189, 255, 0.558) 0px 7px 29px 0px;
    margin: 16px;
    border-radius: 0 0 16px 16px;
    color: black;
    height: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.object_button {
    cursor: pointer;
    background-color: #009bfff5;
    padding: 12px;
    color: white;
    border-radius: 10px 0 10px 0;
    box-shadow: #4d90fe57 0px 2px 8px 0px;
    transition: all .3s linear;
}

#object_titleup {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, .3), rgba(240, 239, 241, .1), hsla(0, 0%, 100%, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 68px;
}

.object_button.ac {
    background-color: white;
    color: #00a4e3;
    animation: ob1 .3s linear forwards;
}

@keyframes ob1 {
    0% {
        opacity: 1;
        left: 20px;
    }

    100% {
        opacity: 0;
        left: 200px;
    }
}

.object_button:hover {
    background-color: white;
    color: #00a4e3;
    left: 20px;
}

#object h4 {
    padding-bottom: 50px;
    color: white;
    background: none;
    -webkit-text-fill-color: unset;
    text-align: center;
}

#object h3 {
    font-size: 22px;
}

#object p {
    font-size: 18px;
}

.object h3 {
    text-align: center;
    margin-bottom: 16px;
}

@media (max-width:992px) {
    #object .vam_wrap {
        flex-direction: column !important;
    }
}

@media (max-width:692px) {
    #object h3 {
        font-size: 20px;
    }

    #object p {
        font-size: 16px;
    }

    .object>div {
        padding: 16px;
    }

}



/* timeline */
#timeline {
    background-image: linear-gradient(180deg, #04a3e0, #62d3f9, #ecfafe);
    padding: 130px 0;
    margin-top: -80px;
}

#timeline_load {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.timeline_con {
    display: flex;
    width: 80%;
    border: 1px solid white;
    padding: 16px;
    color: white;
}

.timeline_items {
    width: 180px;
}


.containers {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 480px;
    font-family: "Roboto", sans-serif !important;
    ;
}

.containers p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.containers span {
    font-size: 12px;
}

.containers a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.containers h1 {
    font-size: 45px;
    text-align: center;
}


.containers button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#register,
#login {
    transition: all .3s linear;
}

#register:hover,
#login:hover {
    background-color: white;
    color: black;
}

.containers button.hiddens {
    background-color: transparent;
    border-color: #fff;
}


.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    padding: 50px;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.containers.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.containers.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

#vang::before {
    content: "";
    color: #a5a5a5;
}

#bac::before {
    content: "";
    color: #f9f621;
}

.bi-trophy-fill.sign-in {
    content: "";
    color: #d1f921;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    align-items: start;
    gap: 10px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.containers.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.containers.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.containers.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.containers.active .toggle-right {
    transform: translateX(200%);
}

#timeline_list-wrap {
    display: flex;
    gap: 30px;
    width: max-content;
}

#scrool_x::-webkit-scrollbar {
    background-image: linear-gradient(70deg, #aa3598, #89499f);
    height: 15px;
    cursor: pointer;
    width: 80%;
}

#scrool_x::-webkit-scrollbar-thumb {
    background-color: #00a4e3;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;

}

#timeline_list-wrap::before {
    content: '';
    height: 5px;
    width: 100%;
    background-color: var(--color-text);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.timeline_item-main.l {
    position: relative;
    top: -25px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.484) 0px 2px 8px 0px;
    border-radius: 8px;
}

.timeline_item-main.c {
    position: relative;
    padding: 10px;
    top: 25px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.484) 0px 2px 8px 0px;
    border-radius: 8px;
}

.timeline_item-content {
    aspect-ratio: 1/1;
    width: 100%;
    backdrop-filter: blur(40px);
    background: #02a6e4;
    color: white;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_item-index.l {
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(70deg, #aa3598, #89499f);
    width: 40px;
    height: 40px;
    border: 8px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    bottom: -15px;
    color: #fff;
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.timeline_item-main h2 {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    color: black;
}

.timeline_item-main p {
    font-weight: 500;
    text-align: center;
}

.timeline_item-index.c {
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(70deg, #aa3598, #89499f);
    width: 40px;
    height: 40px;
    border: 8px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    top: -15px;
    color: #fff;
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width:992px) {
    .timeline_con {
        flex-direction: column;
        gap: 16px;
    }

    .timeline_con .vam_content {
        width: 100% !important;
    }
}

@media (max-width:500px) {
    .timeline_con .vam_content {
        font-size: 14px;
    }
}

/* organizational */
#organizational {
    padding: 50px 0;
    background-color: white;
}

#organizational_img1 {
    position: relative;
}

#organizational_img1::after {
    position: absolute;
    content: '';
    width: 95%;
    aspect-ratio: 1 / 1;
    background-color: #cdebfd;
    right: 0;
    z-index: 1;
    height: auto;
    top: 5%;
    border-radius: 16px;
}

#organizational_img1::before {
    position: absolute;
    content: '';
    width: 95%;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(70deg, #ea0c8a52, #09359455);
    left: 0;
    z-index: 1;
    height: auto;
    top: 0;
    z-index: 3;
    border-radius: 16px;
}

#organizational_content1 {
    background-color: #f2fafe;
    border: 1px solid #d8f1fb;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 30px;
    margin: 30px 0;
}


/* prize_wrap */
.prize_wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#prize_logo,
#prize_img {
    width: 100%;
}

#prize_img {
    border-radius: 8px;
}

.addprize_wrap {
    border-radius: 8px;
    border: 2px solid var(--color-main);
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/*time */
.time_clock {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.time_clock>div {
    padding: 16px;
    background-color: var(--color-logo);
    font-size: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

.time_video {
    position: relative;
    width: 70%;
    aspect-ratio: 16 / 9;
    margin: 32px auto;
    margin-top: 64px;
}

.time_background {
    width: 98%;
    height: 98%;
    top: 0;
    right: 0;
    background-color: var(--color-logo);
    position: absolute;
    border-radius: 8px;
}

.time_video iframe {
    width: 98%;
    height: 98%;
    bottom: 0;
    left: 0;
    background-color: var(--color-logo);
    position: absolute;
    border-radius: 8px;
}

.time_clock {
    position: relative;
}

#hours::before {
    content: 'Giờ';
    position: absolute;
    width: max-content;
    bottom: -30px;
    font-size: 16px;
    color: black;
}

#minutes::before {
    content: 'Phút';
    position: absolute;
    width: max-content;
    bottom: -30px;
    font-size: 16px;
    color: black;
}

#seconds::before {
    content: 'Giây';
    position: absolute;
    width: max-content;
    bottom: -30px;
    font-size: 16px;
    color: black;
}

#days {
    background-image: linear-gradient(140deg, #ff00a5, #94207f);
}

#hours {
    background-image: linear-gradient(140deg, #94207f, #b700c8);
}

#minutes {
    background-image: linear-gradient(140deg, #b700c8, #8d00bb);
}

#seconds {
    background-image: linear-gradient(140deg, #8d00bb, #6400dd);
}

#days::before {
    content: 'Ngày';
    position: absolute;
    width: max-content;
    bottom: -30px;
    font-size: 16px;
    color: black;
}

/* question */
.question_div {
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}

.question_load {
    height: 0;
    overflow: hidden;
    transition: all .3s linear;
    background: white;
    margin: 0 25px;
    border-radius: 16px;
}

.question_load.hide {
    padding: 16px;
    height: max-content;
    transition: all .3s linear;
}

.question_div i {
    transform: rotate(180deg);
    color: var(--color-text);
    font-size: 24px;
}

.question_div i.hide {
    transform: rotate(0deg);
}


/* footer */

#footer {
    background-color: #061e27
}

.footer_wrap {
    display: flex;
    gap: 32px;
}

.footer_wrap>div {
    flex: 1;
}

#footer p {
    margin: 10px 0;
    text-align: justify;
}

#footer h2 {
    font-size: 28px;
}


#footer i::before {
    font-size: 32px;
}

@media (max-width:992px) {
    .footer_wrap {
        flex-direction: column;
    }
}


/* all */
@media (max-width: 682px) {
    .vam_title {
        font-size: 2em;
    }
}

@media (max-width:500px) {
    .vam_title {
        font-size: 1.5em;
    }
}

@media (max-width:400px) {
    .vam_title {
        font-size: 1em;
    }
}

/* */
.slider-container {
    width: 100%;
    height: max-content;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider-images {
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider-img {
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
    height: 320px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(6) {
    height: 360px;
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
    height: 400px;
}

#image h1 {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}

.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2 {
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.slider-img.active {
    width: 766px !important;
    height: 450px !important;
}

.slider-img.active h1 {
    display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
    display: block;
}