.main {
    width: 100%;
    background-color: white;
}

:root {
    --color-text: #677284;
    --color-main: rgb(17, 75, 161);
    --color-logo: rgb(44 199 241);
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif !important;
}

.title-all {
    font-size: 34px;
}

p,
ul,
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Title__non {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 0;
}

.Title__main {
    font-size: 3rem;
    text-transform: capitalize;
}

.Content__main {
    font-size: 1.1rem;
    margin: 0;
    padding: 1rem 0;
    text-align: justify;
}

@media (max-width: 992px) {
    .Title__main {
        font-size: 2rem;
        text-transform: capitalize;
    }
}

/* --------------------- */
/* Banner */
/* --------------------- */
#banner {
    width: 100%;
    aspect-ratio: 1920/980;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
}

.banner__background {
    width: 100%;
    height: 100%;
}

.banner__background>img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.banner__content {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner__content-wrap {
    padding: 0 4em;
    color: white;
    width: 100%;
}

.banner__content-wrap>h4 {
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.7em;
    display: flex;
    gap: 1rem;
}

.banner__content-wrap>h4>p {
    font-weight: 300;
}

.banner_button {
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 1.1em;
    font-weight: 400;
    padding: 1em 0;
}

.banner_button>a {
    padding: 10px 25px;
    background-color: #82d1cb;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: .2s linear;
}

.banner_button>a:nth-child(1) {
    background-color: rgb(24, 90, 188);
    color: white;
}

.banner_button>a:nth-child(1):hover {
    background-color: rgb(17, 75, 161);
}

.banner_button>a:nth-child(2) {
    background-color: white;
    color: rgb(17, 75, 161);
}

.banner_button>a:nth-child(2):hover {
    background-color: rgb(175, 175, 175);
}

#slick__banner {
    max-width: 100%;
    display: flex;
    margin: 0;
    padding: 2em 0 4em 0;
    position: relative;
}

.banner-wrap__img>img {
    width: 100%;
    aspect-ratio: 1/1;
}

@media (max-width:1280px) {
    #banner {
        font-size: .8rem;
    }

    .banner_button>a {
        padding: 8px 20px;
    }
}

@media (max-width:992px) {
    .banner__content-wrap>h4 {
        font-size: 1.5em;
        line-height: 1.1;
    }

    #slick__banner {
        padding: 1em 0 4em 0;
    }

    .banner__content-wrap {
        padding: unset;
        padding-left: 1em;
    }

    html {
        font-size: 14px;
    }
}

@media (max-width:700px) {
    html {
        font-size: 16px;
    }

    .banner__content {
        position: absolute;
        width: 100%;
        top: 50%;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
    }

    .banner__content-wrap {
        width: 100%;
        height: 100%;
        padding: 4rem;
    }

    .banner__content-wrap>h4 {
        font-size: 2em;
        line-height: 1.5;
    }

    .banner_button {
        font-size: 1.5em;
        padding: 2em 0;
    }

    .header1412a1-logo,
    .header1412a1-list {
        display: none !important;
    }
}

@media (max-width:600px) {
    .banner__content-wrap>h4 {
        font-size: 1.7em;
    }

    .banner_button {
        font-size: 1.1em;
    }

    .banner__content-wrap {
        width: 100%;
        height: 100%;
        padding: 2rem 4rem;
    }

}

@media (max-width:500px) {
    .banner__content-wrap>h4 {
        font-size: 1.1em;
    }

    .banner_button {
        font-size: 1.1em;
    }

    .banner__content-wrap {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .banner_button {
        padding: 1rem 0;
    }

    h4 {
        margin: 0;
    }

    .banner_button {
        font-size: .9em;
    }

    .banner_button>a {
        padding: 8px 10px;
    }

    .banner__content-wrap>p {
        text-transform: uppercase;
        padding-bottom: 1em;
    }
}

/* --------------------- */
/* Header1412a1 Vamnaone */
/* --------------------- */
#header1412a1 {
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 5px rgba(42, 42, 42, 0.138);
    position: sticky;
    top: 0;
    z-index: 90;
    color: var(--color-text);
}

.header1412a1 {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

.header1412a1-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.header1412a1-list>a {
    margin: 0 25px;
    font-size: 1.1em;
    cursor: pointer;
    color: #677284;
}

.header1412a1-list>a.acc {
    color: var(--color-main);
    font-weight: 500;
}

.header1412a1-list>a:hover {
    color: var(--color-main)
}

.header1412a1-logo {
    height: 80%;
    display: flex;
    align-items: center;
}

/* */
.d551412a1 {
    font-size: 1rem;
    color: var(--color-text);
    padding: 4rem;
}


.d551412a1-wrap {
    display: flex;
    align-items: center;
}

.d551412a1__left {}

.d551412a1__right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.d551412a1-right-slick {
    width: 50%;
    display: flex;
    margin: 0;
    padding: 2em 0 4em 0;
    position: relative;
}

@media (max-width: 992px) {
    .d551412a1-right-slick {
        width: 100%;
    }
}

.d551412a1-right-slick img {
    width: 100%;
    aspect-ratio: 1/1;
}

/*  */
.d551412a2,
.d551412a3 {
    font-size: 1rem;
    color: var(--color-text);
    padding: 4rem;
    border-top: 1px solid rgb(216, 216, 216);
}

.d551412a2-wrap,
.d551412a3-wrap {
    display: flex;
}

.d551412a2__left,
.d551412a3__left {
    display: flex;
    align-items: start;
    justify-content: start;
}

.d551412a2__right,
.d551412a3__right {
    display: flex;
    justify-content: center;
    align-items: start;
}

.d551412a2__left>img,
.d551412a3-left-img>img {
    width: 80%;
}

.d551412a2-right-wrap,
.d551412a3-right-wrap {
    width: 100%;
    height: 100%;
}

.d551412a3-left-img {
    display: flex;
    justify-content: center;
}

.d551412a2-left-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.d551412a2-left-img>img {
    width: 90%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.d551412a2-right__ctTi,
.d551412a3-right__ctTi {
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    transition: all .3s linear;
    border-bottom: 1px solid #d8d8d8;
}

.d551412a2-right__ctTi:hover,
.d551412a3-right__ctTi:hover {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

.d551412a2-right__ctall,
.d551412a3-right__ctall {
    overflow: hidden;
    transition: all .3s linear;
    height: 0;
    padding: 0
}

.d551412a2-right__ctall.hide,
.d551412a3-right__ctall.hide {
    overflow: hidden;
    transition: all .3s linear;
    height: unset;
    padding: 1rem;
}

.d55svg,
.d54svg {
    transition: all .3s linear;
}

.d55svg.hiden,
.d54svg.hiden {
    transform: rotate(180deg);
}

.items {
    font-size: 1rem;
}

/*   */

.header1412a1-logo>p {
    font-size: 1.7em;
    margin-left: 5px;
    color: var(--color-main);
    font-family: 'Rubik';
}

.ft1412c1 {
    font-size: 16px;
    color: var(--color-text);
}

.ft1412c1-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: 30px 0;
}

.ft1412c1-dot {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(216, 216, 216)
}

.ft1412c1-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft1412c1-text>p {
    font-size: 1.1em;
    padding: 20px 0;
}


.ft1412c1-icon {
    display: flex;
    align-items: center;
}

.ft1412c1-icon>a>i {
    border-radius: 50%;
    background-color: var(--color-text);
    color: white;
    text-decoration: none;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    aspect-ratio: 1/1;
    transition: all .2s linear;
}

.ft1412c1-icon>a {
    border-radius: 50%;
    color: white;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: all .2s linear;
}

.ft1412c1-icon>a:hover {
    background-color: var(--color-main);
}

.ft1412c1-icon>a:hover i {
    background-color: var(--color-main);
}

/* slick */
.slick-dots {
    display: flex !important;
    width: 20%;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    bottom: 12px;
    right: 0;
}

.slick-dots li {
    flex: 1;
    display: flex;
    align-items: center;
    height: max-content;
}

.slick-dots button {
    color: white;
    font-size: 0;
    width: 80%;
    height: 6px;
    border: none;
}

.slick-dots .slick-active>button {
    background-color: var(--color-main);
}

.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 30px;
    cursor: pointer;
    user-select: none;
    background: rgb(241, 243, 244);
    position: absolute;
    bottom: 0;
    border-radius: 3px;
    transition: .3s linear;
}

.prev {
    left: 0;
}

.next {
    left: 15%;
}

.prev:hover,
.next:hover {
    background-color: var(--color-main);
    fill: white;
    transform: scale(1.01);
}

/* tongquan */
.tongquan {
    padding: 4rem;
}

.tongquan_wrap {
    display: flex;
}

.tongquan_wrap>div {}

.tongquan_video {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.tongquan_image {
    display: flex;
    gap: 1rem;
}

.tongquan_text {
    padding-bottom: 1rem;
}

.tongquan_text>p {
    font-size: 1rem;
    text-align: justify;
}

@media (max-width: 500px) {
    .dd {
        text-align: center;
        justify-content: center !important;
    }

    .hg h1 {
        text-align: center;
    }

    .hg ul {
        text-align: center;
    }
}

.menu {
    font-size: 2rem;
}

.Menu-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 80%;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    z-index: 999;
    transition: all .3s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
}

.logo-nav {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    border-bottom: 1px solid #677284;
}

.logo-nav>img {
    width: 50%;
}

.menunav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
}

.menunav>a {
    text-align: center;
    padding: .5rem;
}

@media (max-width: 992px) {

    .d551412a1,
    .d551412a2,
    .d551412a3,
    .tongquan {
        padding: 2rem;
    }

    .jhgjf {
        font-size: .5rem !important;
    }
}

.ft12 {
    transition: all .3s linear;
    transform: translateY(0);
}

.ft12:hover {
    color: var(--color-main);
}