/* Chi tiết học sinh */
.infordetail_back-bottom-title {
    font-size: 18px;
}

.infordetail_back-bottom_wrapbox {
    aspect-ratio: 2/1;
    width: 100%;
    padding: 10px;
}

.infordetail_back-bottom_wrapbox p {
    text-align: center;
    margin: 0;
}

.infordetail_back-bottom_wrapbox>div {
    width: 100%;
    height: 100%;
    background-color: white;
    color: rgb(60, 60, 60);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    transition: all .3s linear;
    border-radius: 3px;
    position: relative;
}

.infordetail_back-bottom_wrapbox>.on::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.499);
    /*    background-image: url(https://lh3.googleusercontent.com/d/1klpDIdUVQN2egQGuTgUV-E-tNLbVwEg4);
    background-size: cover;
    background-position: top, center;*/
}

.lock {
    display: none;
}

.on .lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    z-index: 99;
    display: block;
}



.infordetail_back-bottom_wrapbox:hover>div {
    transform: scale(1.02);
}

.infordetail_back-bottom_wrapbox:hover>.on {
    transform: scale(1);
    cursor: not-allowed;
}

#loadcheckin {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    z-index: 100;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#loadcheckin h1,
.infordetail_back-bottom-title {
    padding: 15px 0;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

#loadcheckin>div {
    display: flex;
    justify-content: space-between;
}

#loadcheckin span {
    padding: 2px 15px;
    background-color: #609dff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

#chuthich_Student {
    position: absolute;
    top: 100%;
    background-color: white;
    padding: 16px;
    width: max-content;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#loadcheckin span:hover~#chuthich_Student {
    display: flex !important;
}

.divchuthich_Student {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

#loadcheckin p {
    padding: 15px;
    font-size: 16px;
    margin: 0;
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: all .3s linear;
}

#loadcheckin p:hover {
    color: #83b3ff;
}

#loadcheckin_main {
    margin: 0;
    flex: 1;
    overflow-y: auto;
    justify-content: start !important;
}

#loadcheckin_main::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #609dff;
    border-radius: 15px;
}

#loadcheckin_main::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(255, 255, 255);
}

.checkin_box {
    padding: 15px;
}

.checkin_box>div {
    padding: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(216, 216, 216);
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.student__detail.none {
    background-color: rgb(255, 237, 237);
}

.student__detail.done {
    background-color: rgb(237, 255, 241);
}

.student__detail.none:hover {
    background-color: rgb(255, 190, 190);
    cursor: pointer;
}

.student__detail.done:hover {
    background-color: rgb(179, 255, 194);
    cursor: pointer;
}